
a,
.purple {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  .container {
    display: grid;
    min-height: 600px;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

[data-starport-craft] {
  background: rgba(69, 213, 69, 0.333);
}

[data-starport-proxy]:not([data-starport-landed]) {
  background: rgba(180, 62, 62, 0.549);
}
